@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Poppins:wght@300;400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary:#f8720c;
    --primaryLight:#f38d3f;
    --black:#000;
    --lightBlack:#161515;
    --white:#ffffff;
    --main-bg:#d0ebff;
    --rateStar:#ffd900;
}

body{
    font-family: 'Cabin', 'Poppins', sans-serif;
    font-size: 62.5%;
    background-color: var(--main-bg);
}
::-webkit-scrollbar{
    display: none;
}